.cart-checkbox {
	position: relative;
	z-index: 3;
	float: left;
	margin-right: 5px
}

.cart-checkbox .pkcheckbox {
	position: relative;
	float: none;
	vertical-align: middle;
	_vertical-align: -1px;
	margin: 0 3px 0 0;
	*left: -3px;
	padding: 0
}

.cart-checkbox label {
	display: none
}

.cart-main .pkcheckbox, .cart-main .pkradio {
	float: none;
	position: relative;
	z-index: 5;
	vertical-align: middle;
	_vertical-align: -1px;
	margin: 0 3px 0 0;
	padding: 0;
	*left: -3px
}

.cart-main .cart-thead {
	display: inline-block;
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 0 0 10px;
	padding: 5px 0;
	background: #f3f3f3;
	border: 1px solid #e9e9e9;
	border-top: 0
}

.cart-main .cart-thead:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .cart-main .cart-thead {
	height: 1%
}

*+html .cart-main .cart-thead {
	min-height: 1%
}

.cart-main .cart-thead .column {
	float: left
}

.cart-main .cart-thead .t-checkbox {
	height: 18px;
	line-height: 18px;
	padding-top: 7px;
	width: 142px;
	padding-left: 11px
}

.cart-main .cart-thead .t-goods {
	width: 298px
}

.cart-main .cart-thead .t-price {
	width: 150px;
	padding-right: 40px;
	text-align: right
}

.cart-main .cart-thead .t-quantity {
	width: 80px;
	text-align: center
}

.cart-main .cart-thead .t-sum {
	width: 150px;
    padding-right: 40px;
    text-align: right;
}

.cart-main .cart-thead .t-action {
	width: 75px
}

.cart-item-list {
	margin-bottom: 20px
}

.item-list {
	border-style: solid;
	border-width: 2px 1px 1px;
	_border-width: 1px;
	border-color: #aaa #f1f1f1 #f1f1f1;
	background: #fff
}

.item-list .item-full:first-child, .item-list .item-single:first-child,
	.item-list .item-suit:first-child {
	border-top: 0
}

.cart-tbody a:hover {
	text-decoration: none
}

.cart-tbody .item-header {
	padding: 5px 10px;
	line-height: 26px;
	color: #999;
	display: inline-block;
	display: block
}

.cart-tbody .item-header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .cart-tbody .item-header {
	height: 1%
}

*+html .cart-tbody .item-header {
	min-height: 1%
}

.cart-tbody .item-item {
	position: relative;
	padding: 0 10px 1px 40px;
	border-top: 1px solid #c5c5c5;
	line-height: 20px;
	_height: 116px;
	background: #fff;
	*zoom: 1
}

.cart-tbody .item-item .item-form {
	display: inline-block;
	display: block
}

.cart-tbody .item-item .item-form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .cart-tbody .item-item .item-form {
	height: 1%
}

*+html .cart-tbody .item-item .item-form {
	min-height: 1%
}

.cart-tbody .item-item .cell {
	float: left;
	padding: 15px 0 10px
}

.cart-tbody .item-item .p-checkbox {
	position: absolute;
	z-index: 3;
	left: 10px;
	top: 0;
	width: 30px;
	min-height: 10px;
	_height: 10px
}

.cart-tbody .item-item .p-goods {
	width: 330px
}

.cart-tbody .item-item .p-price {
	width: 150px;
	padding-right: 40px;
	font-family: verdana;
	text-align: right
}

.cart-tbody .item-item .p-price strong {
	display: block;
	color: #333;
	font-weight: 400
}

.cart-tbody .item-item .p-quantity {
	width: 80px
}

.cart-tbody .item-item .p-quantity .quantity-form {
	position: relative;
	overflow: hidden;
	height: 22px;
	width: 80px
}

.cart-tbody .item-item .p-quantity .quantity-form span.promo-num {
	width: 80px;
	display: inline-block;
	text-align: center
}

.cart-tbody .item-item .p-quantity .quantity-form span.noselling {
	width: 50px;
	display: inline-block;
	text-align: center;
	background-color: #ddd;
	color: #999;
	margin: 0 14px
}

.cart-tbody .item-item .p-quantity .downspan, .cart-tbody .item-item .p-quantity .upspan
	{
	position: absolute;
	top: 0;
	z-index: 2;
	display: block;
	height: 22px;
	line-height: 22px;
	width: 42px;
	text-align: center;
	left: 19px;
	color: #333;
	font-size: 12px;
	font-family: verdana;
	margin-left: -.2px\9;
	margin-top: -.1px\0
}

.cart-tbody .item-item .p-quantity .decrement, .cart-tbody .item-item .p-quantity .increment
	{
	border: 1px solid #cacbcb;
	border-right: 0;
	height: 18px;
	line-height: 18px;
	padding: 1px 0;
	width: 16px;
	text-align: center;
	color: #666;
	margin: 0;
	background: #fff
}

.cart-tbody .item-item .p-quantity .decrement:hover, .cart-tbody .item-item .p-quantity .increment:hover
	{
	text-decoration: none
}

.cart-tbody .item-item .p-quantity .decrement.disabled, .cart-tbody .item-item .p-quantity .increment.disabled
	{
	cursor: default;
	color: #e9e9e9
}

.cart-tbody .item-item .p-quantity .decrement {
	float: left
}

.cart-tbody .item-item .p-quantity .increment {
	float: right;
	border: 1px solid #cacbcb;
	border-left: 0;
	color: #666
}

.cart-tbody .item-item .p-quantity .itxt {
	position: absolute;
	left: 17px;
	top: 0;
	border: 1px solid #cacbcb;
	width: 42px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	padding: 1px;
	margin: 0;
	font-size: 12px;
	font-family: verdana;
	color: #333;
	-webkit-appearance: none
}

.cart-tbody .item-item .p-quantity .quantity-txt{
	text-align: center;
}

.cart-tbody .item-item .p-sum {
	width: 150px;
	padding-right: 40px;
	text-align: right;
	font-family: verdana
}

.cart-tbody .item-item .p-sum strong {
	color: #333;
	font-weight: 700;
	display: block
}

.cart-tbody .item-item .p-ops {
	width: 75px
}

.cart-tbody .item-item .p-ops a {
	color: #666;
	display: block
}

.cart-tbody .item-item .p-ops a:hover {
	color: #e4393c
}

.cart-tbody .item-item .goods-item {
	display: inline-block;
	display: block
}

.cart-tbody .item-item .goods-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .cart-tbody .item-item .goods-item {
	height: 1%
}

*+html .cart-tbody .item-item .goods-item {
	min-height: 1%
}

.cart-tbody .item-item .goods-item .p-img {
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #eee;
	margin-right: 10px;
	background: #fff;
	padding: 0;
	text-align: center;
	overflow: hidden
}

.cart-tbody .item-item .goods-item .p-msg {
	float: left;
	width: 390px
}

.cart-tbody .item-item .goods-item .p-name {
	height: 40px;
	line-height: 20px;
	overflow: hidden
}

.cart-tbody .item-item .goods-item .p-name a {
	color: #333
}

.cart-tbody .item-item .goods-item .p-name a:hover {
	color: #e4393c
}

.cart-tbody .item-invalid {
	background: #f1f1f1;
	color: #ccc
}

.cart-tbody .item-invalid .p-price, .cart-tbody .item-invalid .p-price strong
	{
	color: #ccc
}

.cart-main-new .cart-thead .t-goods {
	width: 298px
}

.cart-main-new .cart-tbody .item-item .p-goods {
	width: 410px
}

.cart-main-new .cart-tbody .item-item .goods-item .p-msg {
	width: 300px
}

.cart-main-new .cart-tbody .item-item .p-props {
	width: 140px
}

.cart-main-new .cart-tbody .item-item .p-props-new, .cart-main-new .cart-tbody .item-item .p-props-new .props-txt
	{
	width: 160px
}

/****/
.cart-toolbar {
	height: 50px;
	border: 1px solid #f0f0f0;
	background: #fff;
	position: relative
}

.toolbar-wrap {
	position: relative;
	margin: 0 auto
}

.toolbar-wrap .options-box {
	position: relative;
	height: 50px
}

.toolbar-wrap .select-all {
	float: left;
	height: 18px;
	*width: 60px;
	line-height: 18px;
	padding: 16px 0 16px 9px;
	white-space: nowrap
}

.toolbar-wrap .operation {
	float: left;
	height: 50px;
	width: 310px;
	line-height: 50px
}

.toolbar-wrap .operation a {
	float: left;
	margin-left: 10px;
	color: #666
}

.toolbar-wrap .operation a:hover {
	color: #e4393c;
	text-decoration: none
}

.toolbar-wrap .toolbar-right {
	position: absolute;
	height: 52px;
	right: 0;
	top: -1px;
	width: 610px
}

.toolbar-wrap .toolbar-right .combine {
	display: none
}

.toolbar-wrap .toolbar-right .combine .int-right {
	float: left;
	width: 336px
}

.toolbar-wrap .toolbar-right .combine .comm-right {
	float: right;
	width: 670px;
	*width: 610px
}

.toolbar-wrap .toolbar-right .normal {
	height: 52px
}

.toolbar-wrap .toolbar-right .normal .comm-right {
	float: right;
	width: 650px;
	*width: 610px
}

.toolbar-wrap .amount-sum {
	float: right;
	color: #999;
	height: 44px;
	line-height: 20px;
	margin: 7px 0 0;
	cursor: pointer
}

.toolbar-wrap .amount-sum em {
	color: #e4393c;
	font-family: verdana;
	font-weight: 700;
	margin: 0 3px
}

.toolbar-wrap .amount-sum b.up {
	background-position: -45px -91px
}

.toolbar-wrap .amount-sum b.down {
	background-position: -45px -95px;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg)
}

.toolbar-wrap .price-sum {
	float: right;
	height: 43px;
	line-height: 20px;
	margin: 7px 20px 0 10px;
	color: #666;
	width: auto;
	position: relative
}

.toolbar-wrap .price-sum .txt {
	float: left;
	width: 50px;
	text-align: right;
	color: #999
}

.toolbar-wrap .price-sum .txt-new {
	width: 50px
}

.toolbar-wrap .price-sum .price {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: right;
	font-family: verdana
}

.toolbar-wrap .price-sum .price em {
	font-size: 16px;
	color: #e4393c;
	font-weight: 700
}

.toolbar-wrap .price-sum div {
	white-space: nowrap
}

.toolbar-wrap .btn-area {
	float: right
}

.toolbar-wrap .btn-area .submit-btn {
	display: block;
	position: relative;
	width: 96px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	background: #e54346;
	overflow: hidden
}

.toolbar-wrap .btn-area .submit-btn-disabled {
	margin-top: 1px;
	height: 49px;
	line-height: 49px;
	background: #fff;
	cursor: not-allowed;
	border-right: 1px solid #f0f0f0;
	color: #ccc
}

.toolbar-wrap .btn-area .submit-btn-disabled:hover {
	text-decoration: none
}

.toolbar-wrap .btn-area .submit-btn-disabled b {
	display: none
}

.cart-remove-dlg .cart-remove-msg {
	margin-left: 20px
}

.cart-remove-dlg .cart-remove-btn {
	margin-top: 20px
}

.cart-remove-dlg .cart-remove-btn span {
	margin-left: 200px
}

.cart-tip-dlg .cart-tip-msg {
	margin-left: 20px
}