@charset "UTF-8";

* { 
	margin:0;
	padding:0;
	border: 0;
}
html, body { 
	height:100%;
}
html {
	min-width:890px;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#807e83;
}

h1 {
	font-size:50px;
	line-height:40px;
	padding-bottom:10px;
}
	h1 a {
		color:#000;
		text-decoration:none;
	}
h2 {
	font-size:14px;
	font-weight:normal;
	color:#4cdff9;
	margin-bottom:2px;
}
	h2.outdent {
		margin-bottom:14px;
	}
h3 {
	font-size:14px;
	font-weight:normal;
	padding:0 0 9px 0;
	margin-bottom:17px;
}
	h3.alt {
		color:#4cdff9;
	}
h4 {
	font-size:1em;
	color:#000;
	margin-bottom:14px;
	font-weight:normal;
}
h5 {
	font-size:12px;
	margin-bottom:14px;
}
h6 {
	font-size:1em;
	color:#000;
	font-weight:normal;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
object { 
	vertical-align:top; 
	outline:none;
}
ul, ol { 
	list-style:none;
}


.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
}

.alignright {
	position:relative;
	float:left;
	}
.vlinks{
	position:relative;
	float:right;}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.container { 
	width:100%;
}

a {
	color: #666;
    text-decoration: none;
}


.wrap {
    width: 70%;
    margin: 0 auto;
}
.top-header {
    background: #525974;
}
.top-header-left {
    float: left;
    width: 10%;
    padding: 0.25em 0 0 0;
}
.top-header-center {
    float: left;
    width: 80%;
    padding: 0.25em;
    padding: 0.4em;
}
.top-header-right {
    float: right;
    padding: 0.25em 0;
}
.top-header-left ul li {
    display: inline-block;
}
.top-header-left ul li a span {
    width: 24px;
    height: 24px;
    display: block;
}
.top-header-center-alert-left {
    float: left;
    width: 39%;
    text-align: right;
}
.top-header-center-alert-right {
    float: right;
    width: 60%;
}
.top-header-center-alert-left h3 {
    color: #FFF;
    font-weight: 600;
    font-size: 0.85em;
}
.top-header-right ul li {
    display: inline-block;
}
.top-header-right ul li:first-child {}
.top-header-right ul li:first-child span {
    height: 13px;
    width: 1px;
    background: #FFF;
    display: inline-block;
    margin: 0 0.5em 0 0.6em;
    vertical-align: middle;
}
.top-header-right ul li a {
    color: #FFF;
    font-size: 0.7em;
    text-transform: uppercase;
}
.top-header-right ul li a:hover {
    color: rgba(255, 137, 25, 0.73);
}
@media only screen and (max-width: 1440px) and (min-width: 1366px) {
    .wrap {
        width: 80%;
    }
}
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
    .wrap {
        width: 80%;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .wrap {
        width: 80%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .wrap {
        width: 80%;
    }
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
    .wrap {
        width: 80%;
    }
}
@media only screen and (max-width: 640px) and (min-width: 480px) {
    .wrap {
        width: 80%;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .wrap {
        width: 80%;
    }
    .top-header-right ul li:first-child span {
        margin: 0 0.3em 0 0.2em;
    }
}
@media only screen and (max-width: 320px) and (min-width: 240px) {
    .wrap {
        width: 90%;
    }
    .top-header-right {
        width: 29%;
    }
    .top-header {
        height: 34px;
        padding: 0.15em 0;
    }
}


/*==== GLOBAL =====*/
#main {
	width:940px;  /*890*/
	margin:0 auto;
	font-size:.8125em;
	position:relative;
}

#header {
	height:173px;
	position:relative;
}
#content {
	padding:0 0 45px 0;
}
	#content .aside {
		float:left;
		width:225px;
		margin-right:47px;
	}
	#content .mainContent {
		float:left;
		width:668px;  /*618*/
		background:url(../images/line-hor.gif) 0 0 repeat-x;
		padding:20px 0 0 0;
	}
#footer {
	background:url(../images/line-hor.gif) 0 0 repeat-x;
	padding:28px 0 45px 0;
	font-size:11px;
	color:#807e83;
}

/*===== header =====*/
#header .address {
	position:absolute;
	left:0;
	top:13px;
	font-size:11px;
}
	#header .address a {color:#aeaeae; text-decoration:none;}
	#header .address a:hover {color:#000;}

#header .logo {
	position:absolute;
	left:0;
	top:18px;
}
	#header .logo span {
		display:block;
		position:absolute;
		left:80px;
		top:25px;
		color:#9c9c9c;
		font-size:12px;
	}

#header .search1 {
	position:absolute;
	right:0;
	top:123px;
}
#search-form {
	position:absolute;
	right:0;
	top:107px;
}
#search-form fieldset {
	display:inline;
	border:none;
}
#search-form input.text {
	width:162px;
	border:1px solid #dedede;
	border-right:none;
	padding:1px 0 1px 4px;
}
#search-form input.submit {
	border:1px solid #dedede;
	width:49px;
	height:20px;
	background:none;
	color:#000;
	font-size:12px;
	cursor:pointer;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav:before, .nav:after {
    display: table;
    content: " "
}

.nav:after {
    clear: both
}

.nav:before, .nav:after {
    display: table;
    content: " "
}

.nav:after {
    clear: both
}

.nav > li {
    position: relative;
    display: block
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee
}

.nav > li.disabled > a {
    color: #999
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #428bca
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav > li > a > img {
    max-width: none
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

.navbar:before, .navbar:after {
    display: table;
    content: " "
}

.navbar:after {
    clear: both
}

.navbar:before, .navbar:after {
    display: table;
    content: " "
}

.navbar:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px
    }
}

.navbar-header:before, .navbar-header:after {
    display: table;
    content: " "
}

.navbar-header:after {
    clear: both
}

.navbar-header:before, .navbar-header:after {
    display: table;
    content: " "
}

.navbar-header:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch
}

.navbar-collapse:before, .navbar-collapse:after {
    display: table;
    content: " "
}

.navbar-collapse:after {
    clear: both
}

.navbar-collapse:before, .navbar-collapse:after {
    display: table;
    content: " "
}

.navbar-collapse:after {
    clear: both
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.container > .navbar-header, .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media (min-width: 768px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important
    }
}

.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1)
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block
    }

    .navbar-form select.form-control {
        width: auto
    }

    .navbar-form .radio, .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0
    }

    .navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-form.navbar-right:last-child {
        margin-right: -15px
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.navbar-nav.pull-right > li > .dropdown-menu, .navbar-nav > li > .dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav > li > a {
    color: #777
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ccc
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #777
}

.navbar-default .navbar-link:hover {
    color: #333
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #999
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #999
}

.navbar-inverse .navbar-nav > li > a {
    color: #999
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #999
}

.navbar-inverse .navbar-link:hover {
    color: #fff
}