.mod-forgot {
    height: 410px;
    margin-left: 150px;
    width: 910px;
}

.mod-sub-nav {
    height: 34px;
    background: url(/images/getpassindex/mod_sub_nav.png) no-repeat 0 0;
    margin: 30px 0;
    line-height: 34px;
    color: #666;
    font-size: 16px;
    font-family: "Microsoft Yahei",\5fae\8f6f\96c5\9ed1,\9ed1\4f53;
}

.mod-sub-nav li.list1-active {
    background: url(/images/getpassindex/sub_nav_1.png) no-repeat 0 0;
    color: #2e82ff;
}

.mod-sub-nav li.list2-active {
    background: url(/images/getpassindex/sub_nav_2.png) no-repeat 0 0;
    color: #2e82ff;
    margin-left: -12px;
    padding-left: 78px;
}

.mod-sub-nav li.list3-active {
    background: url(/images/getpassindex/sub_nav_3.png) no-repeat 0 0;
    color: #2e82ff;
    margin-left: -12px;
    padding-left: 78px;
    width: 163px;
}

.mod-sub-nav li {
    float: left;
    padding-left: 66px;
}

.mod-sub-list1 {
    width: 175px;
}

.mod-sub-list2 {
    width: 163px;
}

.layui-form-item .layui-input-block{
	margin-left: 0px;
}

.layui-form-item .btn-next{
	width: 400px;
	margin-top:10px;
	margin-left: 0px;
	background-color: #3f89ec;
}

.layui-form-item label{
	margin-bottom: 0px;
}

.layui-form-item .btn-send{
	width: 122px;
	text-decoration: none;
}

.layui-form-item .btn-send:hover, .layui-form-item .btn-send:focus{
	text-decoration: none;
}
