.clear{clear:both;}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*--------------------------------------------------*/
.mid-grids{
  padding: 1.4em 0;
}
.mid-grid-left{
  float: left;
  padding: 1.0em 0 1em 0;
}
.mid-grid-right{
  float: right;
  width: 26%;
  padding: 3.5em 0 1em 0;
}
.mid-grid-right input[type="text"]{
  border: 1px solid #08080B;
  border-right: none;
  border-left: none;
  border-top: none;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  padding: 0.8em 0;
  color:#A5A5A5;
  width:85%;
  -moz-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.mid-grid-right input[type="text"]:focus {
  width:100%;
  -moz-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.logo span{
  width: 131px;
  height: 100px;
  display: inline-block;
  background: url(http://www.puckart.com/images/puck1.png);
}
.logo{
  position:relative;
}

.wrap{
  width:85%;
  margin:0 auto;
}

.login-bg {
  top:100px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 450px;
}

/*---start-footer----*/
.footer{
  background: #ECECEC;
  padding: 0.5em 0 0 0;
}
.footer-left{
  float:left;
}
.footer-left ul li{
  display:inline-block;
}
.footer-left ul li a{
  color: #000;
  font-size: 1.0em;
}
.footer-left ul li span {
  height: 13px;
  width: 1px;
  background: #000;
  display: inline-block;
  margin: 0 0.5em 0 0.6em;
  vertical-align: middle;
}
.footer-right{
  float:right;
}
.footer-right p{
  color:#FFF;
  font-size: 0.8em;
}
.footer-right p a{
  color:#FFF;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
}
.footer-right p a:hover{
  color:#E45D5D;
}

.login-error-tip{
	color: #e22;
    padding-top: 5px;
}
